svg
{
  margin: 10px;
}

div{
  display: inline-block;
}

text{
  font-size: 12px;
  text-align: center;
}

path.draphInfo{
  fill: none;
}

circle{
  stroke: black;
}

.barInfo {
  stroke: black;  
}